.nav-container {
    background-color: #004332;
    color: #C0A159;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#nav-logo {
    height: 50px;
    width:120px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-item:hover {
    background-color: #C0A159;
    color:#004332;
    padding: 0 4px;
}