.nav-container {
  background-color: #004332;
  color: #c0a159;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

#nav-logo {
  height: 50px;
  width: 120px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-item:hover {
  background-color: #c0a159;
  color: #004332;
  padding: 0 4px;
}

footer {
  background-color: #004332;
  color: #c0a159;
  position: absolute;
  height: 5rem;
  width: 100%;
  text-align: center;
  align-content: center;
  padding: 20px 0;
}

.greenColor {
  color: #004332;
}

.greenBg {
  background-color: #004332;
}

.greenBorderTB {
  border: 0;
  border-bottom: 1rem solid #004332;
  border-top: 1rem solid #004332;
}

.yellowColor {
  color: #c0a159;
}

.yellowBorderTB {
  border: 0;
  border-bottom: 0.1rem solid #c0a159;
  border-top: 0.1rem solid #c0a159;
}

.whiteBg {
  background-color: #ecebe6;
}

/* side nav  */
a {
  text-decoration: none;
}

/* menu list */
.ListMenu {
  color: #c0a159;
  border: 0;
  border-bottom: 0.2rem solid #c0a159;
  border-top: 0.2rem solid #c0a159;
}

.ListMenu:hover {
  color: #004332;
  background-color: #c0a159;
}

/* menu meals */

/* .optionsbtn .optionsbtn {
  color: #004332;
  border: 0;
  border-bottom: 0.1rem solid #004332;
  border-top: 0.1rem solid #004332;
}
.optionsbtn:hover {
  color: #c0a159;
  background-color: #004332;
} */
.categoryslctd {
  color: #004332;
  background-color: #ecebe6;
  border: 0;
  border-bottom: 0.2rem solid #004332;
  border-top: 0.2rem solid #004332;
}

.categoryslctd:hover {
  color: #c0a159;
  background-color: #004332;
  border-bottom: 0.2rem solid #c0a159;
  border-top: 0.2rem solid #c0a159;
}

.modalImg {
  height: 15rem;
}

.menuActive {
  background-color: #004332;
  color: #c0a159;
  border-bottom: 0.2rem solid #c0a159;
  border-top: 0.2rem solid #c0a159;
}

.dBlock {
  display: block;
}

.dNone {
  display: none;
}

/* .cntspnmeals {
  display: none;
} */
.contAll {
  min-height: 50rem;
}

.translate-middle {
  transform: translate(-100%, 50%) !important;
}
